* {
    border: none; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* command+/ */

:root {
    --background-color: #FFF9E5;
    --secondary-color: #CF6464;
    --black-color: #2B2B2B;

}

.entire{
    background-color: var(--background-color);
}
/* need to make hamburger menu*/
nav {
    display: none;
}

.intro {
     width: 250px;
     display: relative; 
     float: right;
     position: relative;
     right: 50px;
     top: 50px;
}

.section {
   position: relative; 
   top: 150px;
   left: 40px;
   color: white;
}
.section__li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: white;
}


img {
    max-width: 100%;
    padding-top: 5rem;
    z-index: -100;
    position: absolute;
}

