* {
    border: none; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* command+/ */

:root {
    --green: #BAFC00;
    --white: #fff;
    --off-black: #2B2B2B;
    --black: #000;
}


.home {
    background-image: url('images/backgroundimg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
header { 
    display: flex; 
    width: 100%;
}

.header__wrapper {
    align-items: center;
    display: flex; 
    justify-content: space-between;
}

.header__list {
    display: flex;
    flex-direction: column; 
}

.header__list-item {
    list-style: none;
}


.intro__list-item {
    list-style-type: none;
    font-size: 30px;
    line-height: 1.75;
}

.intro__wrapper {
    display: grid;
   align-items: center;
   max-width:300px;
   height: 600px;
}


footer {
    background-color: var(--off-black);
}
.footer__list-item {
    list-style-type: none;
    padding: 0 1rem;
    
}

.footer__list {
    display: flex;
    justify-content: flex-end; 
    text-decoration: none;  
}

a {
    text-decoration: none;
    color: var(--green);
}

.about__p {
    line-height: 2;
}

body {
    min-height: 90vh;
}  

.projects{
   padding-top: 5rem;
   
}
.projects__list {
    list-style-type: none;
    display: grid;
    grid-template-columns:500px 500px;
    grid-template-rows: 300px 300px;
    gap: 10%;
    background-color: red;
    justify-content: center;
    padding: 3rem 0 5rem 0;
    
}

.projects__list--color {
background-color: var(--off-black);
}
